notificar_estado_pedido.json
{
  "name": "Notificar Estado Pedido",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estado-pedido",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook Estado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "estado-pedido-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-conf",
                    "leftValue": "={{ $json.body.estado }}",
                    "rightValue": "CONFIRMADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-canc",
                    "leftValue": "={{ $json.body.estado }}",
                    "rightValue": "CANCELADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Estado Pedido",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.body.chatId }}",
        "text": "={{ '✅ *¡Pedido confirmado!*\\n\\n' + ($json.body.total != null ? 'Total: *$' + $json.body.total + '*\\n\\n' : '') + 'El local confirmó tu pedido. ¡Gracias! 😊' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Telegram Confirmado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -112
      ],
      "credentials": {
        "telegramApi": {
          "id": "kdogkhHVM7Djkk2Q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.body.chatId }}",
        "text": "={{ '❌ *Pedido cancelado*\\n\\n' + ($json.body.motivo ? $json.body.motivo + '\\n\\n' : '') + 'Lamentablemente tu pedido no fue aprobado. Probá de nuevo más tarde.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Telegram Cancelado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        112
      ],
      "credentials": {
        "telegramApi": {
          "id": "kdogkhHVM7Djkk2Q",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Estado": {
      "main": [
        [
          {
            "node": "Estado Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado Pedido": {
      "main": [
        [
          {
            "node": "Telegram Confirmado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
